<!DOCTYPE html> 
<html lang="ru"> 
  <head>    

    <title>
      <!-- Блок title -->
      Анфиса для друзей. О проекте
      <!-- Конец блока title -->
    </title>       
  </head>
  <body>
   
    <main class="pt-5 my-5">      
      {% include "includes/header.html" %}
      <div class="container">
        <!-- Блок content -->
        
        <!-- Конец блока content -->
      </div> 
    </main>
    
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include "includes/footer.html" %}   


  </body>

</html>